{% extends "layout.html" %} 

{% block content %}

<div class="row">
  <div class="column-1">
    <nav class="sidenav">
      <section>
        <h3 style="background: lightgray">Site menu</h3>
        <a href="/">Home</a>
        <a href="/blogs" target="_blank">Blogs</a>
      </section>
      <section>
        <h3 style="background: lightgray">Interest</h3>
        <a href="#" target="_blank">Media</a>
        <a href="#" target="_blank">Games</a>
        <a href="#" target="_blank">Music</a>
      </section>
      <section>
        <h3 style="background: lightgray">Network & Contects</h3>
        <a
          href="https://www.linkedin.com/in/ansh-koshti-a47b93285/"
          target="_blank"
          >Linkedin</a
        >
        <a href="https://gitlab.com/Ansh_Koshti" target="_blank">Gitlab</a>
        <a href="https://github.com/AnshKoshti" target="_blank">Github</a>
        <a href="mailto:koshtiwork26@gmail.com" target="_blank">Gmail</a>
      </section>
    </nav>
  </div>
  <div class="column-2">
    <section id="info">
      <img src="static/image/Profile.jpg" alt="Profile" id="profile" />
      <br />
      <h3>Hello everyone,<br />Welcome to my corner of Internet...</h3>
      <br />
      <p>
        I'm ansh koshti, a 25-year-old guy from India, who loves computers and
        software. I'm a software engineer and a tech enthusiast.
      </p>
      <br />
      <p>
        I graduated from Silver Oak University with a bachelor's degree in
        Information Technology taking some of the knowledge about computers and
        the internet.
      </p>
      <br />
      <p>
        <i
          >This place is home to all my findings. A place where I am in control,
          with no censorship or manipulation. A place where my words don't get
          mixed up with noise.</i
        >
      </p>
    </section>
    <hr />
    <section id="skills">
      <h3 style="padding: 5px"><u>Skills that i have...</u></h3>
      <ul>
        <li>Python with Object orianted programming.</li>
        <li>Odoo a python based business app framework.</li>
        <li>Django framework with bootstrap for web development.</li>
        <li>HTMX for non javascript based backend.</li>
        <li>Git for versioning purpose.</li>
      </ul>
      <br />
      <h3 style="padding: 5px">
        <u>Skill that i learned during college for exploration...</u>
      </h3>
      <ul>
        <li>Php with laravel and mysql</li>
        <li>Android app devleopment with flutter and native as well.</li>
        <li>Digital marketing for some marketing skills.</li>
        <li>Linux for fun...</li>
      </ul>
    </section>
    <hr />
    <section id="experience">
      <h3 style="padding: 5px"><u>Experience</u></h3>
      <ul>
        <li>
          Not really...fresh grade from University. but have Some college
          projects and personal projects as well for practice, mostly for
          clearing concepts about coding practices and framework concepts.
        </li>
      </ul>
    </section>
    <hr />
    <section id="certifications">
      <h3 style="padding: 5px">
        <u>Cource works and certifications</u>
      </h3>
      <ul>
        <li>Python for everybody (Freecodecamp).</li>
        <li>Odoo from odoo documentation.</li>
        <li>
          Django framework somewhere from youtube and django documentation.
        </li>
        <li>Fundamentals of digital marketing (Google certifications).</li>
        <li>DSA somewhere from youtube.</li>
      </ul>
    </section>
    <hr />
    <section id="copyright">
      <footer>
        <p><b>© Copyright 2024 Ansh Koshti. All right Reserved.</b></p>
      </footer>
    </section>
  </div>
</div>

{% endblock content %}
